<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<main class="container">
    <!--Message area-->
    <% if (message.length > 0) {%>
        <div class="alert alert-danger">
            <%= message %>
        </div>
    <% } %>

    <!--div.row>div.offset-md-4.col-md-4>h1{Please Login}+form[method="POST"]-->
    <div class="row">
        <div class="offset-md-4 col-md-4 mt-5">
            <h1>Please Register</h1>
            <form method="POST" class="row g-3" autocomplete="off">
                <fieldset class="col-md-12">
                    <label for="username" class="form-label">User Name:</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" required autofocus>
                </fieldset>

                <fieldset class="col-md-12">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" required>
                </fieldset>

                <fieldset class="col-md-12">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" required>
                </fieldset>

                <fieldset class="col-md-12">
                    <label for="displayName" class="form-label">Display Name:</label>
                    <input type="text" class="form-control" name="displayName" id="displayName" placeholder="Enter displayName" required>
                </fieldset>

                <fieldset class="col-md-12 text-right">
                    <input type="submit" class="btn btn-primary" value="Register">
                    <a href="/" class="btn btn-outline-primary">Cancel</a>
                </fieldset>
            </form>
        </div>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>